<header class="bg-gradient-to-r from-purple-500 via-purple-700 to-purple-900 p-4 shadow-lg">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-white font-bold text-2xl">Eventmox</div>
      <nav>
        <ul class="flex space-x-6">
          <li><a class="text-white hover:text-purple-300 transition-all" routerLink="/home">Home</a></li>
          <li><a class="text-white hover:text-purple-300 transition-all" routerLink="/events">Events</a></li>
          <li><a class="text-white hover:text-purple-300 transition-all" routerLink="/about">About</a></li>
          <li><a class="text-white hover:text-purple-300 transition-all" routerLink="/contact">Contact</a></li>
          <li><a class="text-white hover:text-purple-300 transition-all" routerLink="/login">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>
  